#include "resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_TEST       ICON         "Res\\test.ico"
